:root {
  main_color: #d2e0e2;
}

* {
  margin: 0;
  background-color: var(main_color);
  font-family: monospace;
  font-size: 20px;
}

.content h2 {
  color: gray;
  font-size: 80px;
}
.content p {
  user-select: none;
}

.content .head .contact,
.contact p {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

/* .content a {
  text-decoration: underline;
} */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.content .links ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

/* TODO: Make grid mobile responsive. */
.project_showcase {
  display: grid;
  gap: 30px;
  justify-content: center;
  /* width: 100%; */
  /* grid-template-columns: auto auto auto; */
  /* padding: 5px; */
  grid-template-columns: repeat(auto-fit, 400px);
}

.project_showcase .container {
  gap: 20px;
  background-color: #f1f1f1;
  border: 1px solid black;
  box-shadow: #d2e0e2;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 500px;
}

.project_showcase .container img {
  width: 350px;
}

.footer {
  background-color: rgb(11, 11, 11);
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 5px;
}
